<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <h1 class="text-center"><span class="badge badge-primary">{{summary.score}}</span></h1>
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': summary.score + '%'}"></div>
      </div>
      <p class="lead">{{summary.score_text}}</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Average Daily Energy Usage
        </div>
        <div class="card-body">
          <h1 class="text-center"><span class="badge badge-primary">{{summary.average_daily_energy_usage}}</span></h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Average Daily Temperature
        </div>
        <div class="card-body">
          <h1 class="text-center"><span class="badge badge-primary">{{summary.average_daily_temp}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>